<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.terwaamo.futis">
    <application>
        <provider
            android:name="com.facebook.NativeAppCallContentProvider"
            android:authorities="com.facebook.app.NativeAppCallContentProvider555447331237833" />     
    </application>
</manifest>
